/*aca va lo del margin padding de arriba y el background del body */
* {
  margin: 0%;
  padding: 0%;
  font-size: 16px;
}

body {
  background: rgb(238, 174, 202);
  background-image: radial-gradient(circle, rgb(238, 174, 202) 31%, rgb(226, 181, 149) 42%);
}

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body header .header-raabta {
  font-family: "Playfair Display";
  color: black;
  background-color: rgb(238, 174, 202);
  background-image: radial-gradient(circle, rgb(238, 174, 202) 31%, rgb(226, 181, 149) 42%);
}

header .header-bar {
  background-color: #e2c09e;
  padding: 5px;
  text-align: center;
  font-size: 5rem;
  font-family: "Playfair Display";
}

header .header-bar p span {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  body .grid-container {
    display: none;
  }
}
body {
  background: rgb(238, 174, 202);
  background-image: radial-gradient(circle, rgb(238, 174, 202) 31%, rgb(226, 181, 149) 42%);
}

body .carousel-container .hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}
body .carousel-container .hero-title h2 {
  color: black;
  font-weight: 600;
  font-size: 70px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 20% 20% 20%;
  gap: 25px;
  margin: 30px;
}
.grid-container .grid-item-1 {
  background-color: #f9dfc8;
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 5px;
}
.grid-container .grid-item-1 h1 {
  font-size: 2.5rem;
  width: 80%;
  text-align: center;
  padding: 20px 20px 20px 20px;
}
.grid-container .grid-item-2 {
  background-color: #f9dfc8;
  grid-column: 3/4;
  grid-row: 1/4;
  border-radius: 5px;
}
.grid-container .grid-item-2 img {
  width: 100%;
  height: 100%;
}
.grid-container .grid-item-3 {
  background-color: #a772a7;
  grid-column: 1/3;
  border-radius: 5px;
}
.grid-container .grid-item-3 h3 {
  font-size: 2rem;
  padding: 10px 20px 20px 20px;
}
.grid-container .grid-item-3 div img {
  position: relative;
  bottom: 75px;
  left: 550px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

.presentation h1 {
  color: black;
  font-family: "Playfair Display";
  font-size: 5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.presentation p {
  color: black;
  font-family: "Playfair Display";
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

/*@mixin d-flex ($display, $justify, $aling){
    display: $display;
    justify-content: $justify;
    align-items: $aling;
}*/
body {
  background: rgb(238, 174, 202);
  background-image: radial-gradient(circle, rgb(238, 174, 202) 31%, rgb(226, 181, 149) 42%);
}

.footer-container {
  background-color: #e2c09e;
}

.footer-container .boton-01 {
  box-shadow: 4px 0px 32px 33px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 4px 0px 32px 33px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 4px 0px 32px 33px rgba(0, 0, 0, 0.59);
  padding: 3px;
  border-radius: 5px;
  font-size: 1rem;
}

div .iconowhap {
  position: fixed;
  right: 600px;
  bottom: 30px;
}

.boton-negro, .boton-01 {
  background-color: black;
  color: blanchedalmond;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
