@import '../utilities/variables';
.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body{
    header{
            .header-raabta {
                font-family:"Playfair Display";
                color: black;
            }

    }
}
header{
        .header-bar{
            background-color: #e2c09e;
            padding: 5px;
            text-align: center;
            font-size: 5%;
            font-family: "Playfair Display";
        }
    }
header{
    .header-bar{
        p{
            span{
                font-weight: bold;
            }
        }
    }
}