
.boton-negro{
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}
.boton-01{
    @extend .boton-negro
}

section{
    .iconowhap{
        position: fixed;
        right: 20px;
        bottom: 30px;
        transition: 3s;

    }
}
section{
    .iconowhap:hover{
        transform: rotate(360deg) ;
}
}